Notifications {
    left: 0;
    right: 0;
    top: 60%;
    bottom: 5%;
    position: absolute;
    justify-content: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .notification {
        width: 30%;
        z-index: 1;
        color: #ffffff;
        background-color: #ff00ffff;
        height: 7vh;
        border-radius: 15px;

        .iconpanel {
            position: absolute;
            left: 0;
            height: 100%;
            aspect-ratio: 1;

            font-family: "Material Icons";
            font-size: 72px;
            text-align: center;
            align-items: center;
        }

        .message {
            width: 100%;
            height: 100%;
            font-family: Roboto;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            align-items: center;
        }
    }
}
