@using Sandbox.UI;
@namespace Bydrive
@inherits Panel;

<root>
    @foreach(var track in tracks)
    {
        <div class="track item @(GetClasses(track))" style="pointer-events:all;" @onclick=@(() => OnClickTrack(track))>
            <label class="name">@track.Name</label>
            <label class="group">@track.Group</label>
        </div>
    }
</root>

@code
{
    public Action<TrackDefinition> TrackSelected { get; set; }

    IEnumerable<IGrouping<string, TrackDefinition>> groupedTracks;
    IEnumerable<TrackDefinition> tracks;
    TrackDefinition selectedTrack;

    protected override void OnParametersSet()
    {
        tracks = TrackDefinition.GetAllVisible();
        groupedTracks = tracks.GroupBy(t => t.Group);
    }

    private string GetClasses(TrackDefinition def)
    {
        string classes = "";
        if(def == selectedTrack)
        {
            classes += "selected ";
        }

        return classes;
    }

    private void OnClickTrack(TrackDefinition def)
    {
        TrackSelected?.Invoke(def);
        selectedTrack = def;
    }
}