VehicleSelection {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    ModelPreviewPanel {
        aspect-ratio: 1;
    }

    .main {
        width: 100%;
        height: 85%;

        .list {
            width: 60%;
            flex-wrap: wrap;

            .vehicle {
                height: 40vh;
                aspect-ratio: 1;
                background-color: #5a88ab;
                margin: 20px;
                align-items: center;
                justify-content: center;

                .preview {
                    height: 80%;
                }

                .title {
                    width: 100%;
                    height: 20%;
                    text-align: center;
                    font-size: 48px;
                    font-weight: bold;
                    color: #fff;
                    background-color: #3a5789;
                }
            }
        }

        .selected {
            width: 40%;
            margin: 20px;
            background-color: #5a88ab;

            .info {
                color: #fff;
                width: 50%;
                background-color: #3a5789;
                padding: 20px;

                label {
                    width: 100%;
                }

                .title {
                    text-align: center;
                    font-size: 48px;
                }

                .stats {
                    margin-top: 25px;

                }
            }

            .preview {
                width: 50%;
            }
        }
    }

    .footer {
        height: 15%;
        gap: 50px;
    }
}
