@using Sandbox.UI
@namespace Bydrive

@page "/completion";
@attribute [StyleSheet]
@inherits Panel;
<root>
    <div class="side racer">
        <img class="avatar" src="@GetAvatar()" />
        <label class="name">@Story.GetPlayerName()</label>
        <div class="stats">
            <div class="entry">
                <label class="key">Races Won</label>
                <label class="value">187</label>
            </div>
            <div class="entry">
                <label class="key">Items Used</label>
                <label class="value">1420</label>
            </div>
            <div class="entry">
                <label class="key">Skill Issues</label>
                <label class="value">0</label>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="progress">
            <div class="rank">
                <div class="icon" />
                <label class="title">@GetCurrentRank().Title</label>
            </div>
            <div class="score">
                @{
                    int score = CurrentSave?.Score ?? 0;
                    int requiredScore = GetNextRank().Points;
                    bool finished = GetCurrentRank().Equals(GetNextRank());
                }
                @if(finished)
                {
                    <label class="value">@score RS</label>
                    <ProgressBar/>
                }
                else
                {
                    <label class="value">@(score)/@(requiredScore) RS</label>
                    <ProgressBar Value=@(score) MaxValue=@(requiredScore)/>
                }
                
            </div>
            <div class="status">
                <div class="entry">
                    <div class="key">Money Gained</div>
                    <div class="value">100000</div>
                </div>
                <div class="entry">
                    <div class="key">League Tokens Gained</div>
                    <div class="value">100</div>
                </div>
                <div class="entry">
                    <div class="key">Vehicle Licenses Gained</div>
                    <div class="value">10</div>
                </div>
                <div class="entry total">
                    <div class="key">Total Completion</div>
                    <div class="value">36%</div>
                </div>
                <div class="entry">
                    <div class="key">Upgrades Unlocked</div>
                    <div class="value">0%</div>
                </div>
                <div class="entry">
                    <div class="key">Vehicles Unlocked</div>
                    <div class="value">100%</div>
                </div>
                <div class="entry">
                    <div class="key">Attachments Unlocked</div>
                    <div class="value">50%</div>
                </div>
            </div>
        </div>
        <div class="controls">
            <div class="button" @onclick=@OnClickBack>Back</div>
        </div>
    </div>
</root>