@import "colors.scss";
@import "elements.scss";

RaceMenu {
	z-index: 100;
	display: none;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: $background_clear_dark;
	backdrop-filter: blur(10px);

	&.active {
		display: flex;
	}

	.title {
		z-index: 105;
		position: absolute;
		top: 0;
		width: 100%;
		bottom: 55%;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("ui/title.png");
	}

	.button {
		width: 20vw;
		height: 9vh;
		border-radius: 5px;
	}
}