@using Sandbox;
@using Sandbox.UI;
@namespace Bydrive
@inherits PanelComponent

@if(!Story.Active)
{
	return;
}

<root>
	<label class="header">By|Drive</label>
	<label class="button" @onclick=@OnClickResume>Resume</label>
	<label class="button" @onclick=@OnClickTeleport>@GetTeleportLabel()</label>
	<label class="button" @onclick=@OnClickExit>Save and Quit</label>
</root>