@import "colors.scss";

Speedometer {
	position: absolute;
	right: 15%;
	bottom: 5%;
	width: 12%;
	height: 15%;
	background-color: $background_dev;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	padding: 25px;
	flex-direction: column;
	font-family: Poppins;
	color: #fff;
	border-radius: 5px;
	gap: 10px;

	.current {
		font-size: 40px;
		width: 60%;
		text-align: right;
	}

	.unit {
		font-size: 25px;
		width: 40%;
		text-align: center;
	}

	.boost {

		.progress {
			width: 60%;

			.bar {
				background-color: #259025;
				border-radius: 5px;
			}
		}
		.name {
			font-size: 22px;
			text-align: center;
			font-weight: bold;
			width: 40%;
		}
	}
}
