@import "colors.scss";

VehicleHealth {
	position: absolute;
	left: 15%;
	bottom: 5%;
	width: 14%;
	height: 15%;
	background-color: $background_dev;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	padding: 25px;
	font-family: Poppins;
	color: #fff;
	border-radius: 5px;
	gap: 10px;
	flex-direction: column;

	.title {
		text-align: left;
		font-family: Poppins;
		width: 100%;
		font-size: 32px;
	}

	.points {
		flex-direction: row;
		height: 100%;
		width: 100%;
		justify-content: space-evenly;

		.health {
			width: 100%;
			margin: 5px;
			background-color: #5f5f5f;
			z-index: 2;

			&.damage_full {
				background-color: #531010;
			}

			&.damage_half {
				background-color: #5f2f2f;
			}

			.active {
				height: 95%;
				width: 95%;
				background-color: #3faa3f;
				z-index: 2;
			}
		}
	}
}