$placement_first: #d0c71b;
$placement_second: #c0c0c0;
$placement_third: #924a18;
$placement_middle: #dddddd;
$placement_lower: #998888;
$placement_last: #641717;

$color_score: #ffbf28;

$background_dev: #4a4a4a66;
$background_config: #777777aa;

$background_clear_light: #aaaaaaa9;
$background_clear: #44444444;
$background_clear_dark: #050505a9;

$background_light: #dedede;
$background_dark: #3a3a3a;

$button_primary: #e86161;
$button_primary_hover: #f28e8e;
$button_primary_disabled: #aaa2aa;