.button {
    cursor: pointer;
    pointer-events: all;
    font-size: 32px;
    padding: 25px;
    border-radius: 5px;
    color: #fff;
    background-color: #888288;
    align-items: center;
    justify-content: center;
    border: 8px solid #777777;
    height: 10%;
    width: 20vw;

    &.tall {
        height: 15%;
    }

    label {
        text-align: center;
    }

    &:hover {
        background-color: #aaa2aa;
    }

    &.disabled {
        color: #888;
        cursor: not-allowed;
        pointer-events: none;
        background-color: #555;
    }
}

.textentry {
    background-color: #353535;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    text-align: center;
    font-size: 32px;
}

