@import "/colors.scss";

.button:not(.dropdown) {
    cursor: pointer;
    pointer-events: all;
    font-family: Roboto;
    font-weight: bold;
    background-color: $button_primary;
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &:hover {
        background-color: $button_primary_hover;
    }

    &.secondary {
        background-color: $button_secondary;

        &:hover {
            background-color: $button_secondary;
        }
    }

    &.tall {
        height: 15%;
    }

    label {
        text-align: center;
    }

    &.disabled {
        color: $button_primary_disabled;
        cursor: not-allowed;
        pointer-events: none;
        background-color: #555;
    }
}

.dropdown {
    cursor: pointer;
    pointer-events: all;
    font-size: 32px;
    padding: 25px;
    border-radius: 5px;
    color: #fff;
    background-color: #888288;
    border: 8px solid #777777;
    height: 10%;
    width: 20vw;
}

.textentry {
    background-color: #353535;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    text-align: center;
    font-size: 32px;
    pointer-events: all;
}

.slidercontrol {
    .inner {
        .values {
            font-size: 32px;
            color: #ffffff;
            font-family: Poppins;
        }

        .track {
            background-color: #aa0000;

            .track-active {
                //background-color: #00bb00;
            }

            .value-tooltip {
                color: #ffffff;
            }
        }
    }
}