@import "colors.scss";

CurrentItem {
	position: absolute;
	aspect-ratio: 1;
	width: 8%;
	left: 15%;
	bottom: 25%;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	padding: 20px;
	background-color: $background_dev;

	&.disabled {
		display: none;
	}

	&.has_item {
		border: 2px solid #aa1122;
	}

	.label {
		text-align: center;
		font-size: 24px;
		font-family: Poppins;
	}

	.item {
		color: #fff;
		width: 100%;
	}

	.noitem {
		color: #beaaaadd;
	}
}