@using Sandbox.UI;
@inherits Panel
@implements IRaceHudPanel
@namespace Bydrive

<root class="@UI.ActiveIf(Race != null && !Race.IsTimeTrial) @GetClasses()">
	@if(HasItem())
	{
		<label class="item">
			@GetCurrentItem()?.Title
		</label>
	}
	else
	{
		<label class="noitem">
			NONE
		</label>
	}
</root>

@code
{
	private ItemDefinition GetCurrentItem() => GetLocalVehicle()?.CurrentItem;
	private bool HasItem() => GetCurrentItem() != default;
	private string GetClasses()
	{
		if(HasItem()) return "has_item";
		return "";
	}
	protected override int BuildHash() => HashCode.Combine( GetCurrentItem(), HasItem());
}