LapCompletion {
	position: absolute;
	top: 5%;
	right: 15%;
	background-color: #4a4a4a66;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	padding: 30px;
	flex-direction: column;
	font-family: Poppins;
	color: #fff;

	&.disabled {
		display: none;
	}

	.title {
		font-size: 32px;
		font-weight: bold;
	}

	.subtitle {
		font-size: 16px;
	}
}
