@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Bydrive

<root class="@UI.ActiveAsRaceHUD()">
	<label class="title">@GetDisplayLaps()/@Race.GetMaxLaps()</label>
	@if(DebugCheckpoints)
	{
		<label class="subtitle">@GetCurrentCompletion()</label>
	}
	else if(InLastLap())
	{
		<label class="subtitle">Final Lap!!</label>
	}
	else
	{
		<label class="subtitle">@RaceContext.CurrentDefinition.Name</label>
	}
</root>