@import "colors.scss";
@import "elements.scss";

RaceResults {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	flex-direction: column;
	gap: 20px;
	z-index: 10;
	font-family: Poppins;

	.title {
		font-size: 64px;
		color: #fff;
		margin: 20px;
		border-bottom: 1px solid white;
	}

	.header {
		font-size: 32px;
		color: #fff;
	}

	.list {
		height: 70%;
		width: 50%;
		flex-direction: column;
		align-items: center;
		padding: 30px;
		border-radius: 5px;
		gap: 25px;
		background-color: $background_clear_dark;
		backdrop-filter: blur(10px);

		.entry {
			width: 90%;
			background-color: $background_dark;
			padding: 20px;
		}

		.racer {
			height: 10vh;
			font-family: 'Cascadia Mono';
			align-items: center;
			justify-content: center;

			.label {
				&.first {
					color: $placement_first;
				}

				&.second {
					color: $placement_second;
				}

				&.third {
					color: $placement_third;
				}

				&.middle {
					color: $background_neutral;
				}

				&.last {
					color: $placement_last;
				}
			}

			.placement {
				width: 10%;
				text-align: center;
				justify-content: center;
				color: $placement_first;
				font-size: 64px;
			}

			.name {
				width: 60%;
				color: $placement_first;
				font-size: 48px;
			}

			.time {
				width: 30%;
				color: #ffffff;
				font-size: 32px;
				text-align: right;
			}

			.score {
				width: 30%;
				color: #ffffff;
				align-items: center;

				.label {
					text-align: right;
					height: 100%;
				}

				.value {
					width: 50%;
					font-size: 48px;
				}

				.added {
					width: 50%;
					font-size: 28px;
				}
			}
		}

		.times {
			flex-direction: column;
			height: 25%;
		}

		.laps {
			flex-direction: column;
			gap: 5px;
			color: #ffffff;
			font-family: 'Cascadia Mono';

			.row {
				margin-left: 15%;
				margin-right: 5%;
				height: 6vh;
			}

			.number {
				width: 50%;
				font-size: 30px;
			}

			.time {
				width: 50%;
				text-align: center;
				font-size: 30px;
			}
		}
	}

	.footer {
		flex-direction: row;
		height: 10%;
		padding: 0.2%;
		gap: 20vw;
		width: 50%;

		.button {
			flex-grow: 1;
		}
	}

	.button {
		width: 20vw;
	}
}
