@using Sandbox.UI;
@using System.Collections.Generic;
@namespace Bydrive
@inherits Panel

<root>
	@foreach (var line in activeNotifications)
	{
		<div class="notification" style="background-color:@line.Color.Rgba; opacity:@line.GetOpacity();">
			@if (!string.IsNullOrEmpty(line.Icon))
			{
				<icon>@line.Icon</icon>
			}
			<label class="message">@line.Message</label>
		</div>
	}
</root>