@using Sandbox;
@using Sandbox.UI;
@namespace Bydrive
@inherits Panel

@if (!ShouldDraw())
	return;

<root class="@UI.ActiveIf(ShouldDraw)">
	<label class="title">@RaceContext.CurrentDefinition.Name</label>
	@if(RaceContext.CurrentVariables.Any())
	{
		<label class="subtitle">@GetVariantTitle()</label>
	}
</root>