@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Bydrive
@attribute [Icon("timer")]

@if (Race == null)
	return;

<root class="@UI.ActiveAsRaceHUD() @GetClasses()">
	<div>
		<label class="title">Time</label>
		<label class="time">@GetRaceTime().FormatAsRaceTime()</label>
	</div>
	<div>
		<label class="title">Lap</label>
		<label class="time">@GetLapTime().FormatAsRaceTime()</label>
	</div>
</root>