@import "colors.scss";

Speedometer {
	position: absolute;
	right: 15%;
	bottom: 5%;
	width: 14%;
	height: 15%;
	justify-content: center;
	align-items: center;
	padding: 25px;
	border-radius: 5px;
	flex-direction: column;
	gap: 10px;
	color: #fff;
	background-color: $background_clear;
	font-family: Poppins;
	font-weight: bold;

	&.disabled {
		display: none;
	}

	.current {
		font-size: 40px;
		width: 60%;
		text-align: right;
		align-items: center;
	}

	.unit {
		font-size: 25px;
		width: 40%;
		text-align: center;
		align-items: center;
	}

	.boost {
		ProgressBar {
			width: 60%;

			.bar {
				background-color: #2138bd;
				border-radius: 5px;
			}
		}

		.name {
			font-size: 22px;
			text-align: center;
			font-weight: bold;
			width: 40%;
		}
	}
}
