@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@implements IRaceHudPanel
@namespace Bydrive
@attribute [Icon("speed")]

<root>
	<div class="speed">
		<label class="current">@($"{GetSpeedAmount():F0}")</label>
		<label class="unit">@GetSpeedUnit()</label>
	</div>
	<div class="boost">
		<ProgressBar Value=@GetBoostRemaining() MaxValue=@GetBoostMax() />
		<label class="name">BOOST</label>
	</div>
</root>