@using Sandbox.UI;

@attribute [StyleSheet]
@namespace Bydrive
@inherits PanelComponent

@if (!StoryMode.Active)
{
	return;
}

<root>
	<label class="name">@StoryMode.Progress.CharacterName</label>
</root>