MainPage {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 20px;
    width: 100%;
    height: 100%;

    .title {
        position: absolute;
        top: 0;
        left: 35%;
        right: 0;
        bottom: 65%;
        justify-content: center;
        align-items: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("ui/title.png");
    }

    .options {
        left: 8%;
        top: 12%;
        height: 80%;
        width: 60%;
        justify-content: space-evenly;

        .group {
            gap: 10px;
        }


        .singleplayer {
            height: 16%;
        }

        .header {
            color: #fff;
            font-size: 48px;
            padding-top: 30px;
        }
    }
}
