@using Sandbox.UI;

@page "/front";
@attribute [StyleSheet]
@namespace Bydrive

<root>
	<div class="title"></div>
	<div class="options flex-col">
		<label class="header">Singleplayer</label>
		<div class="button singleplayer" @onclick=@OnClickSingleplayer>Race VS Bots</div>
		<div class="button singleplayer" @onclick=@OnClickDevStart>Quickplay</div>
		<label class="header">Multiplayer</label>
		<div class="button multiplayer @UI.ActiveIf(LobbyManager.LobbyActive)" @onclick=@OnClickMultiplayer>Race Online</div>
	</div>
</root>