@using Sandbox.UI

@page "/multiplayer/race/browser";
<!--For some reason this stylesheet wont work unless we manually specify it-->
@attribute [StyleSheet("/Menu/RaceBrowsePage.razor.scss")]
@namespace Bydrive

<root class="flex-col w-100 h-100">
    <div class="main">
        <div class="list flex-col">
            <div class="item header">
                <label class="name">Name</label>
                <label class="owner">Owner</label>
                <label class="status">Status</label>
            </div>
            @if (lobbies != null)
            {
                @foreach (var lobby in lobbies)
                {
                    <div class="item pointer-events" @onclick=@(() => OnClickLobby(lobby))>
                        <label class="name">@lobby.Name</label>
                        <label class="owner">@(new Friend((long)lobby.OwnerId).Name)</label>
                        <div class="status">
                            <label class="players">@lobby.Members/@lobby.MaxMembers</label>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="footer">
        <div class="button" @onclick=@OnClickBack>Back</div>
        <div class="button" @onclick=@OnClickRefresh>Refresh</div>
        <div class="button" @onclick=@OnClickCreate>Create</div>
    </div>
</root>