RaceBrowserPage {
    align-items: center;
    justify-content: center;

    .main {
        background-color: #565656aa;
        width: 80%;
        height: 80%;
        margin: 20px;

        .list {
            width: 100%;
            color: #ffffff;
            .item {
                width: 100%;
                height: 5vh;
                justify-content: space-around;
                align-items: stretch;
                font-size: 38px;

                &.header {
                    font-size: 42px;
                    font-weight: bold;
                }
            }
        }
    }

    .footer {
        height: 20%;
    }
}
