@using Sandbox.UI;
@using System.Linq;
@using System.Collections.Generic;
@inherits PanelComponent
@namespace Bydrive

<root>
	<div class="title">Bydrive</div>
	<div class="button singleplayer" @onclick=@OnClickSingleplayer>Singleplayer</div>
	<div class="button multiplayer" @onclick=@OnClickMultiplayer>Multiplayer</div>
	<div class="button dev" @onclick=@OnClickDevStart>Test Race</div>
</root>