StartMenu {
	cursor: default;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	z-index: 1;

	.title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 70%;
		justify-content: center;
		align-items: center;
		font-size: 72px;
		font-family: Poppins;
		color: #fff;
		font-weight: bold;
	}

	.button {
		cursor: pointer;
		pointer-events: all;
		font-size: 32px;
		padding: 25px;
		border-radius: 5px;
		color: #fff;
		background-color: #888288;
		width: 400px;
		height: 10%;
		align-items: center;

		label {
			text-align: center;
			width: 100%;
		}

		&:hover {
			background-color: #aaa2aa;
		}

		&.disabled {
			cursor: not-allowed;
			pointer-events: none;
			background-color: #666466;
		}
	}

	.options {
		flex-direction: column;
		gap: 10px;

		.singleplayer {
			height: 12%;
		}

		.header {
			color: #fff;
			font-size: 48px;
			padding-top: 30px;
		}
	}
}
