@import "colors.scss";
@import "elements.scss";
@import "util.scss";

StartMenu {
	cursor: default;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-size: cover;

	NavHostPanel {
		width: 100%;
		height: 100%;

		.hidden {
			display: none;
		}
	}

	&.bg-image {
		background-image: url(ui/menubackground.png);
	}

	&.bg-fade {
		background-image: linear-gradient(#c1441b,#641313);
	}
}
