@using Sandbox.UI;
@using System.Linq;
@using System.Collections.Generic;
@inherits PanelComponent
@namespace Bydrive

<root>
	<div class="title">Bydrive</div>
	<div class="options">
		<label class="header">Singleplayer</label>
		<div class="button singleplayer" @onclick=@OnClickSingleplayer>Race VS Bots</div>
		<div class="button singleplayer" @onclick=@OnClickDevStart>Quickplay</div>
		<label class="header">Multiplayer</label>
		<div class="button multiplayer disabled" @onclick=@OnClickMultiplayer>Race Online</div>
	</div>
</root>