CharacterInfo
{
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 10%;
    height: 5%;

    font-size: 32px;
    font-family: Poppins;
    color: white;
    background-color: #777777aa;
}