@import "/colors.scss";

creditspage {
    .main {
        color: #fff;
        align-items: center;
        overflow: scroll;
        pointer-events: all;

        .group_name {
            width: 50%;
            height: 300px;
            text-align: center;
            margin: 20px;
            border-bottom: 1px solid white;
            font-size: 58px;
            font-weight: bold;
        }

        .entry {
            width: 75%;
            background-color: $background_dark;
            align-items: stretch;
            justify-content: space-around;

            &.developer {
                margin: 20px;
                height: 400px;
            }


            .avatar {
                margin: 5px;
                aspect-ratio: 1;
            }

            .person {
                width: 42%;
                align-items: stretch;
                justify-content: center;

                .name {
                    font-weight: bold;
                    font-size: 50px;
                }

                .handle {
                    font-size: 25px;
                }
            }

            .credit {
                width: 42%;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 35px;
            }

            &.attribution {
                margin: 10px 20px 20px 10px;
                height: 200px;

                .person label {
                    font-size: 30px;
                }

                label {
                    font-size: 20px;
                }
            }
        }
    }
}
