@using Sandbox.UI;

@page "/front";
@attribute [StyleSheet]
@namespace Bydrive

<root>
	<div class="title"></div>
	<div class="options flex-col">
		<div class="group flex-col">
			<label class="header">Career</label>
			<div class="button main_button singleplayer" @onclick=@OnClickCareerNew>New Game</div>
			<div class="button main_button singleplayer" @onclick=@OnClickCareerLoad>Load Game</div>
		</div>
		
		<div class="group flex-col">
			<label class="header">Other</label>
			<div class="button main_button" @onclick=@OnClickControls>Controls</div>
			<div class="button main_button" @onclick=@OnClickSettings>Settings</div>
		</div>
	</div>
</root>