@using Sandbox.UI;
@using System.Linq;
@using System.Collections.Generic;
@inherits PanelComponent
@namespace Bydrive

<root class="bg-image">
	<NavHostPanel DefaultUrl="/front" @ref=NavPanel />
	<div class="game_info">
		<label class="version">Prototype</label>
		<label class="credits">@@kilianq</label>
	</div>
</root>