@import "colors.scss";
@import "elements.scss";
@import "util.scss";

StartMenu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-size: cover;

	NavHostPanel {
		width: 100%;
		height: 100%;

		.hidden {
			display: none;
		}
	}

	.navigator-body {
		width: 100%;
		height: 100%;
	}

	TabPanel &.hidden {
		display: none;
	}

	&.bg-image {
		background-image: url(ui/menubackground.png);
	}

	&.bg-fade {
		background-image: linear-gradient(#fffafa,#aca2a2);
	}

	.game_info {
		position: absolute;
		z-index: 1000;
		bottom: 1%;
		right: 1%;
		flex-direction: column;
		font-size: 32px;
		color: #fff;
		font-family: Roboto;

		.version {
			text-transform: uppercase;
			font-weight: bold;
		}

		.label {
			text-align: right;
		}
	}
}
