@import "colors.scss";

RacePlacement {
	position: absolute;
	left: 15%;
	top: 5%;
	width: 10%;
	height: 10%;
	background-color: $background_dev;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	padding: 25px;
	flex-direction: column;
	font-family: Poppins;
	color: #fff;
	flex-direction: row;
	border-radius: 5px;

	&.disabled {
		display: none;
	}

	.placement {
		font-size: 40px;
		width: 100%;
		text-align: center;
	}

	.first {
		color: $placement_first;
	}

	.second {
		color: $placement_second;
	}

	.third {
		color: $placement_third;
	}

	.last {
		color: $placement_last;
	}
}
