@using Sandbox.UI;
@using System.Collections.Generic;
@inherits PanelComponent
@namespace Bydrive

<root>
	<div class="title">Results</div>
	<div class="list">
		@for (int i = 0; i < GetPlacements().Count; i++)
		{
			<div class="racer">
				<div class="placement">@(i+1)</div>
				<div class="name">@GetPlacements()[i].DisplayName</div>
			</div>
		}
	</div>
	
</root>

@code
{
	protected override void OnUpdate()
	{
		SetClass("visible", ShouldDraw());
	}

	private bool ShouldDraw()
	{
		return Race != null && Race.IsFinished(GetLocalParticipantInstance());
	}

	private IReadOnlyList<RaceParticipant> GetPlacements()
	{
		//return Race.Participants
		return Race?.FinishedParticipants ?? new List<RaceParticipant>();
	}

	public override int GetHashCode()
	{
		return HashCode.Combine(GetPlacements(), Race?.IsFinished(GetLocalParticipantInstance()));
	}
}