@import "colors.scss";

RaceResults {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	flex-direction: column;

	&.visible {
		display: flex;
	}

	.title {
		font-size: 64px;
		font-family: Poppins;
		color: #fff;
		margin: 25px;
	}

	.list {
		height: 70%;
		margin-top: 30px;
		flex-direction: column;
		width: 50%;
		background-color: #46464677;
		align-items: center;
		padding: 30px;

		.racer {
			background-color: #9fab9f55;
			width: 90%;
			height: 8%;
			font-family: Calibri;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;

			.placement {
				width: 10%;
				text-align: center;
				justify-content: center;
				color: #eeffee;
				font-size: 64px;

				&.first {
					color: $placement_first;
				}

				&.second {
					color: $placement_second;
				}

				&.third {
					color: $placement_third;
				}

				&.last {
					color: $placement_last;
				}
			}

			.name {
				width: 60%;
				color: #fe6;
				font-size: 48px;
			}

			.time {
				width: 30%;
				color: #ffffff;
				font-size: 32px;
			}
		}
	}
}
