@import "/colors.scss";

ControlsPage {
    align-items: center;

    .controls {
        background-color: $background_config;
        height: 80%;
        width: 80%;
        align-items: center;
        overflow-y: scroll;
        margin: 2%;

        .label {
            text-align: center;
            color: #ffffff;
            font-weight: bold;
        }

        .group {
            width: 100%;
            font-size: 40px;
            width: 40%;
            height: 6vh;
            text-align: center;
            font-family: Poppins;
        }

        .item {
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-size: 28px;

            .name {
                height: 100%;
                width: 50%;
                justify-content: center;
                align-items: center;
                text-align: right;
            }

            .key {
                width: 50%;
                text-align: left;
            }
        }
    }

    .footer {
        justify-content: center;
        align-items: center;
        height: 20%;

        .button {
            width: 20%;
            height: 30%;
        }
    }
}
