settingspage {
    align-items: center;

    .options {
        background-color: #9a9a9acc;
        height: 80%;
        width: 80%;
        align-items: center;

        .label {
            text-align: center;
            color: #ffffff;
            font-weight: bold;
        }

        .group {
            font-size: 48px;
            width: 40%;
            height: 6vh;
            font-family: Poppins;
        }

        .property {
            .name {
                height: 100%;
                width: 30%;
                justify-content: center;
                align-items: center;
                font-family: Poppins;
                font-size: 32px;
            }

            .control {
                width: 70%;
                height: 8vh;
            }
        }
    }

    .footer {
        justify-content: center;
        align-items: center;
        height: 20%;
    }
}
