{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "A",
      "GroupName": "Movement"
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Break",
      "KeyboardCode": "space",
      "GamepadCode": "B",
      "GroupName": "Movement"
    },
    {
      "Name": "Boost",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Movement"
    },
    {
      "Name": "Respawn",
      "KeyboardCode": "r",
      "GamepadCode": "X",
      "GroupName": "Actions"
    },
    {
      "Name": "Item",
      "KeyboardCode": "e",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions"
    }
  ],
  "__guid": "5e1eaf89-977c-4fdb-af00-c6f76b362d35",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}