{
  "Version": 2,
  "Mixers": {
    "Guid": "604b6f16-e5ba-4627-975f-2adf10cb7574",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "Processors": [],
    "Children": [
      {
        "Guid": "dcb8c3d4-6297-4360-9768-7cc87a657980",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "504c15a2-4ef5-48dc-ab1e-f9eaa5ecb359",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "IsDefault": true,
        "Processors": [],
        "Children": [
          {
            "Guid": "c926128f-960f-43db-9a53-53bdf9d55962",
            "Name": "Effect",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "2e6feb4b-abbd-44c2-8849-f3c8fbcb8072",
            "Name": "Vehicle",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "Processors": [],
            "Children": []
          }
        ]
      },
      {
        "Guid": "894fb200-4ebf-4e45-96bd-98eac576d506",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "06249a08-a6c5-4b0c-bf0b-d1f255241ef4",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}