@import "/colors.scss";


TimeTrialPage {
    .setup {
        width: 30%;
        height: 100%;
        flex-direction: column;
        background-color: $background_config;
        backdrop-filter: blur(5px);
        color: #fff;
        padding: 2%;

        .track_name {
            height: 15%;
            font-size: 48px;
            font-weight: bold;
        }

        .variables {
            height: 70%;
            flex-direction: column;

            .entry {
                flex-direction: column;

                .key {
                    font-size: 24px;
                }

                .options {
                    gap: 10px;
                    flex-wrap: wrap;
                }

                .button {
                    height: 5vh;
                    width: 45%;

                    &.selected {
                        border: 3px solid white;
                    }
                }
            }
        }

        .vehicle {
            height: 15%;
        }
    }

    .times {
        padding: 2%;
        width: 70%;
        gap: 15px;

        .entry {
            height: 8vh;
            font-weight: bold;
            background-color: $background_light;
            align-items: center;
            pointer-events: all;
            box-shadow: 5px -5px 1px $highlight_dark;

            &:hover {
                background-color: #999999;
            }

            &.selected {
                border: 3px solid black;
            }

            .label {
                justify-content: center;
                text-align: center;
            }

            .placement {
                width: 7.5%;
                font-size: 55px;

                &.first {
                    color: $placement_first;
                }

                &.second {
                    color: $placement_second;
                }

                &.third {
                    color: $placement_third;
                }
            }

            .country {
                font-size: 32px;
                width: 7.5%;
            }

            .player {
                font-size: 32px;
                width: 35%;
            }

            .vehicle {
                font-size: 24px;
                width: 15%;
            }

            .time {
                font-size: 32px;
                width: 35%;
            }
        }
    }

    .tracklist {
        width: 75%;
        padding: 2%;
        gap: 50px;
        flex-direction: row;

        .track {
            width: 350px;
            height: 350px;
            border-radius: 5px;
            background-color: $background_dark;
            flex-direction: column;
            color: #fff;
            font-family: poppins;
            box-shadow: 5px -5px 1px $highlight_dark;

            &:hover {
                background-color: #7c7c7c;
                border: 1px solid white;
            }

            .name {
                height: 60%;
                text-align: center;
                align-items: flex-end;
                font-weight: bold;
                font-size: 48px;
            }

            .group {
                height: 40%;
                width: 100%;
                text-align: center;
                align-items: flex-start;
                font-size: 20px;
            }
        }
    }

    .selected_vehicle {
        width: 30%;
        background-color: $background_clear;
        backdrop-filter: blur(5px);
        flex-direction: column;
        font-family: Poppins;
        color: #ffff;

        .placeholder {
            height: 100%;
            width: 100%;
            font-size: 72px;
            font-weight: bold;
            text-align: center;
            align-items: center;
        }

        .title {
            height: 20%;
            font-size: 56px;
            font-weight: bold;
            text-align: center;
            align-items: center;
            text-shadow: 1px 1px 8px black;
        }

        .description {
            height: 30%;
            text-align: center;
            font-size: 28px;
        }

        .stats {
            height: 50%;
            padding: 1%;
            flex-direction: column;
            gap: 10px;
            background-color: $background_clear_dark;

            .group {
                height: 5vh;

                .name {
                    text-align: center;
                    width: 40%;
                    font-size: 28px;
                }

                ProgressBar {
                    margin: 1%;
                    width: 60%;
                    border-radius: 5px;
                    background-color: $background_dark;

                    .bar {
                        border-radius: 5px;
                        background-color: $background_light;
                    }
                }
            }
        }
    }

    VehicleSelection {
        width: 70%;
        height: 100%;
        flex-direction: row;
        padding: 1%;
        gap: 20px;

        .entry {
            width: 15vw;
            aspect-ratio: 1;
            background-color: #ed2d2d;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;

            &.active {
                border: 2px solid white;
            }

            &:hover {
                background-color: #cb6868;
            }

            ModelPreviewPanel {
                width: 80%;
                aspect-ratio: 1;
                padding: 1%;
            }

            .name {
                color: #ffffff;
                text-align: center;
                font-size: 32px;
                font-weight: bold;
            }
        }
    }
}
