@using Sandbox.UI;

@page "/career/load";
@attribute [StyleSheet]
@namespace Bydrive

<root>
    <label class="header">Load Save</label>
    <div class="files">
        @foreach(var save in SaveFile.GetAll())
        {
            <SaveFileSelect class="file" File=@save @onclick=@(() => OnClickSave(save)) />
        }
    </div>
    <div class="button" @onclick=@OnClickBack>Back</div>
</root>