@import "/colors.scss";

NewGamePage {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .options {
        width: 30%;
        flex-direction: column;
        margin: 3%;
        padding: 2%;
        background-color: $background_config;

        .field {
            width: 100%;
            font-family: Poppins;

            .label {
                width: 20%;
                align-items: center;
            }

            .name {
                font-size: 28px;
            }

            .textentry {
                width: 80%;
            }
        }

        .label {
            color: white;
            font-family: Poppins;
            text-align: center;
        }

        .header {
            font-size: 48px;
            font-weight: bold;
        }
    }

    .controls {
        flex-direction: column;
        width: 30%;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
        height: 20%;

        .button {
            width: 100%;
            height: 50%;
        }
    }
}
