@using Sandbox.UI;

@attribute [StyleSheet]
@namespace Bydrive
@inherits Panel

<root>
    @if(File == null)
    {
        <div class="main">
            No file selected!
        </div>
    }
    else
    {
        <div class="main">
            <div class="left">
                @File.CharacterName
            </div>
            <div class="right">
                Challenger
            </div>
        </div>
        <div class="footer">
            <div class="left">
                <label>Team HQ</label>
            </div>
            <div class="right">
                <label>@(File.Playtime)h</label>
            </div>
        </div>
    }
</root>

@code {
    public SaveFile File { get; set; }

    protected override int BuildHash()
    {
        return HashCode.Combine(File, File?.Id);
    }
}