SaveFileSelect {
    flex-direction: column;
    pointer-events: all;

    div {
        justify-content: space-between;
        flex-direction: row;
    }


    .left {
        flex-grow: 1;
        align-self: flex-start;

        .label {
            width: 100%;
            text-align: left;
        }
    }

    .right {
        flex-grow: 1;
        align-self: flex-end;

        .label {
            width: 100%;
            text-align: right;
        }
    }
}
