@using Sandbox.UI;

@attribute [StyleSheet]
@namespace Bydrive
@inherits Panel

<root>
    @if(File == null)
    {
        <div class="main">
            No file selected!
        </div>
    }
    else
    {
        <div class="main">
            <label class="left">
                @File.CharacterName
            </label>
            <label class="right">
                LVL 1337
            </label>
        </div>
        <div class="footer">
            <div class="left">
                <label>Challenger</label>
                <label>Team HQ</label>
            </div>
            <label class="right">
                @File.Playtime
            </label>
        </div>
    }
</root>

@code {
    public SaveFile File { get; set; }

    protected override int BuildHash()
    {
        return HashCode.Combine(File, File?.Id);
    }
}