@using Sandbox.UI;

@attribute [StyleSheet]
@namespace Bydrive
@inherits PanelComponent

@if (!Story.Active)
{
	return;
}

<root>
	<label class="name">@CurrentSave.CharacterName</label>
	<div class="currency">
		<div class="entry money">
			<div class="icon" />
			<label class="amount">@CurrentSave.Money</label>
		</div>
		<div class="entry tokens">
			<div class="icon" />
			<label class="amount">@CurrentSave.Tokens</label>
		</div>
	</div>
	
</root>